@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.action-button {
  @include borderRadius(4px);
  background-color: $redPink;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 0.7rem;
  padding: 0.8rem 0;
  text-transform: uppercase;
  width: 14.56rem;
}

.action-button:hover {
  background-color: $redPinkDarker;
}
