@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.input-date-style {
  @include inputsStyles;
  background-color: rgba(50, 50, 50, 0.8);
  color: $baseGray;

  &:focus {
    color: $white;
    background-color: rgba(31, 31, 31, 0.8);
  }
}
