@mixin borderRadius($round) {
  border-radius: $round;
}

@mixin inputsStyles {
  @include borderRadius(4px);
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  font-weight: 200;
  outline: none;
  padding: 0.8rem 1rem;
  width: 70%;
}
