$redPink: #f65261;
$redPinkDarker: #b63b45;
$darkGray: #424242;
$mediumGray: #2a202d;
$darker: #232323;
$baseGray: #555555;
$borderGray: #979797;
$lightFontGray: rgba(255, 255, 255, 0.7);
$white: #ffffff;
$black: #000000;
