.inputTitle {
  grid-area: inputTitle;
}

.inputDate {
  grid-area: inputDate;
}

.inputURL {
  grid-area: inputURL;
}

.inputRating {
  grid-area: inputRating;
}

.inputGenre {
  grid-area: inputGenre;
}

.inputMinutes {
  grid-area: inputMinutes;
}

.inputTextarea {
  grid-area: inputTextarea;
}

.inputTextarea {
  grid-area: inputTextarea;
}

.inputWidth {
  width: 90%;
}
