@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.textarea-style {
  @include inputsStyles;
  background-color: rgba(50, 50, 50, 0.8);
  width: 100%;

  &:focus {
    color: $white;
    background-color: rgba(31, 31, 31, 0.8);
  }
}
