@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.multiselect-dropdown {
  max-width: 20%;

  .multi-select-style {
    @include inputsStyles;
    color: $white;
    cursor: pointer;
    text-align: left;
    width: 100%;

    &:focus {
      color: $white;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
